.back-body-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .btn-and-texts-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .back-btn-wrapper {
      display: flex;
      justify-content: end;

      .btn {
        border-radius: 20px;
        font-size: 14px;

        &::after {
          content: "\2190";
        }
      }
    }

    .date {
      margin-right: 15px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .balls-wrapper {
  }
  .btn-other-link {
    border-radius: 20px;
  }
}
